[2020-08-06 20:41] aegershman opened #2 "ability to specify different names on exported/imported secrets"
[According to the `secret-export` doc](https://github.com/k14s/secretgen-controller/blob/develop/docs/secret-export.md), secrets exported/imported across namespaces should all have the same name. There are situations where it'd be valuable to support renaming a secret in the other namespace it's referenced in.

For example: if I have a secret `gershman-lets-encrypt-prod` which is valid for `*.cf.g

[2020-08-06 20:42] #2 closed, assigned to nobody

[2020-10-07 13:05] StarpTech opened #3 "Support KMS provider"
Perhaps rely on https://github.com/mozilla/sops directly. The same as in https://github.com/k14s/kapp-controller/blob/3afee6986bac4a26b60d86c6131504d3404265be/pkg/template/sops.go

Btw: I really like the concept. It makes complete sense to implement this as a controller. In that way, the procedure to generate the secret is stored in git but you can't run into the situation where you accidentally c

[2020-10-09 17:27] cppforlife commented on #3
@StarpTech could you elaborate a bit more what you are proposing and where does sops fit in?

[2020-10-09 18:00] StarpTech commented on #3
Nevermind, it's possible to enable https://kubernetes.io/docs/tasks/administer-cluster/kms-provider/ cluster-wide.

[2020-10-09 18:25] #3 closed, assigned to nobody

[2021-05-06 00:58] cppforlife opened #6 "rename SecretRequest to SecretImport"
would make it more consistent with SecretExport name

[2021-06-12 04:06] ron1 opened #7 "Add SecretRequest.spec.fromName to allow renaming on import"
**Describe the problem/challenge you have**
I need to rename secret when importing it into a new namespace.

**Describe the solution you'd like**
Add field SecretRequest.spec.fromName which allows SecretRequest.name and SecretRequest.spec.fromName to be different.

**Anything else you would like to add:**
This is needed for scenario where static secrets exist in a common source namespace and have

[2021-07-21 16:15] aaronshurley opened #8 "Ensure secretgen-controller functionality is tested"
**Describe the problem/challenge you have**
Since we're planning to invest further into secretgen-controller, we want to ensure that we're starting at a good place from a testing perspective.

**Describe the solution you'd like**
We want to use this story to determine if there are any substantial gaps in testing. If gaps are detected, then we'll fill them. If it's determined that there are many ga

[2021-08-09 19:56] ewrenn8 opened #9 "Make sure secretgen-controller is production ready"
Make sure sercetgen-controller is production ready. This is currently undefined, but a few suggestions are:

- [x] Using same linters as kapp-controller
- [x] Has automated testing
- [x] Sufficient logging
- [x] capture some knowledge in godocs
- [x] update to go 1.16. (currently 1.13)
- [x] debugability
- [x] fix up WarmUp
- [x] rename api group?
- [x] bump kapp-controller to use 0.5.0
- [x] chec

[2021-08-09 19:59] ewrenn8 opened #10 "Review PoC code to ensure maintainability"
Do some code review to ensure it is maintainable by this team. Some deliverables are,

- [x] capture some knowledge in godocs
- [ ] make a boxes and lines diagram for the code
- [x] update to go 1.16. (currently 1.13)
- [ ] e2e tests cover examples folder

[2021-08-12 21:16] aaronshurley opened #14 "Promote this project out of experimental"
**Describe the problem/challenge you have**
As secretgen-controller is maturing and being promoted out of experimental, we should ensure that the repo is in a good state so that users can build trust with the tool.

**Desribe the solution you'd like**
- [ ] ~~promote secretgen-controller out of the "experimental" section on [the website](https://carvel.dev/)~~ _skip this for now as we re-think our

[2021-08-16 21:10] aaronshurley commented on #14
Merge this with #9

[2021-08-16 21:43] aaronshurley commented on #9
@cppforlife is going to look into logging

[2021-08-19 19:16] cppforlife commented on #10
closed in favor of https://github.com/vmware-tanzu/carvel-secretgen-controller/issues/9

[2021-08-19 19:16] #10 closed, assigned to nobody

[2021-08-20 15:58] joe-kimmel-vmw commented on #14
marking dependabot as 'done' bc the settings / security-and-analysis page looks the same as kapp-controller.

[2021-08-23 21:11] cppforlife commented on #8
v0.4.0/v0.5.0 are in a pretty good state.

[2021-08-23 21:11] #8 closed, assigned to joe-kimmel-vmw

[2021-08-23 22:32] aaronshurley opened #23 "Move secretgen-controller Image from DockerHub to New Registry to Avoid Rate Limiting"
See kapp-controller's issue for additional context: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/319

[2021-08-24 13:02] abenabid opened #24 "Persist orphan secrets"
**Describe the problem/challenge you have**
Hello,

I've starting trying this tool today and it serves our need to synchronize secrets between namespaces.
But if we accidently delete the source secret, all the replicated secret will be deleted too.

**Describe the solution you'd like**
It would be nice to have a field in either SecretExport or SecretImport (preferably) which indicate to the contro

[2021-08-26 13:44] abenabid opened #25 "Option to make secret accessible to all namespaces"
**Describe the problem/challenge you have**
Sometimes isn't possible to predict what namespaces need to access a shared secret.

**Describe the solution you'd like**
It would be nice to have the possibility to share the secret to any namespace via a flag.

**Anything else you would like to add:**
N/A

Thank you

[2021-08-27 17:34] cppforlife commented on #25
this just became possible in v0.5.0. you can use `*` as a namespace name in SecretExport. docs coming (hopefully today).

[2021-08-27 18:24] cppforlife commented on #24
hey @abenabid 👋.

yeah i think this could be a good addition for SecretImport.

[2021-08-28 12:32] abenabid commented on #24
Hello @cppforlife,

Thank you for taking this idea into consideration.

Best regards

[2021-08-28 12:40] abenabid commented on #25
Hello,

Good news, I'm using the latest version and it works !

Best regards

[2021-09-13 18:28] joe-kimmel-vmw commented on #9
closing bc the last checkbox is checked

[2021-09-13 18:28] #9 closed, assigned to joe-kimmel-vmw

[2021-09-14 13:08] erkerb4 opened #30 "Option to create multiple keys in Secrets"
**Describe the problem/challenge you have**
When multiple keys are defined in a Password object, the generated secrets are the same across all keys.

Here is an example:

[code]

What is currently generated:

[code]

**Describe the solution you'd like**
It would be fantastic, if each key in the secret would get a unique password.

**Anything else you would like to add:**
N/A

Thank you for your ha

[2021-09-14 21:21] joe-kimmel-vmw commented on #14
I don't see `MAINTAINERS & GOVERNANCE files`. in kapp controller or imgpkg

[2021-09-14 21:43] aaronshurley commented on #14
@joe-kimmel-vmw yeah... We wrote this list before all of these things were rolled out across the tools. We _just_ published an updated [GOVERNANCE.md](https://github.com/vmware-tanzu/carvel/blob/develop/GOVERNANCE.md) and [MAINTAINERS.md](https://github.com/vmware-tanzu/carvel/blob/develop/MAINTAINERS.md) in the `carvel` repo. Our idea is that each tool's GOVERNANCE/MAINTAINERS doc will just point

[2021-09-15 22:04] cppforlife commented on #30
@erkerb4 that becomes becomes of an issue for generating multiple passwords and combining them into a single secret (via a template). we've considered adding something like SecretTemplate CR (or something similar) which would be able to aggregate contents of one or more secrets Secrets and produce a new one, but have not fully committed to that approach yet.

[2021-09-15 22:53] cppforlife commented on #25
documented within https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/docs/secret-export.md

[2021-09-15 22:53] #25 closed, assigned to nobody

[2021-09-22 13:58] erkerb4 commented on #30
Will be eagerly awaiting that implementation. Thank you for your response.

[2021-09-23 22:35] aaronshurley opened #32 "Bump go version to latest"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you would like to add:**

[2021-10-11 16:53] joe-kimmel-vmw commented on #6
@cppforlife looks like you did that here: https://github.com/vmware-tanzu/carvel-secretgen-controller/commit/102cf757067f3602a3ff730d8d7e5828fe8d5e70

 so i'll close this issue

[2021-10-11 16:53] #6 closed, assigned to nobody

[2021-10-17 16:04] nedenwalker opened #35 "Secret in imported namespace is wiped after each successful reconcile with manually created service account token"
**What steps did you take:**
[code]

**What happened:**
SecretImport flaps between ReconcileSucceeded and ReconcileFailed with Condition.Message `Updating imported secret: Operation cannot be fulfilled on secrets "client-token":
      StorageError: invalid object, Code: 4, Key: /registry/secrets/dest-ns/client-token,
      ResourceVersion: 0, AdditionalErrorMsg: Precondition failed: UID in precond

[2021-10-18 21:16] cjnosal opened #36 "Allow secret exports to filter the exportable fields"
**Describe the problem/challenge you have**
I would like to export the ca.crt and tls.crt of a `kubernetes.io/tls` secret without exporting the private tls.key (or more generally, only export the public portion of asymmetric cryptography secrets, or an arbitrary subset of Opaque secrets).

**Describe the solution you'd like**
New optional fields in the SecretExport.spec (e.g. `exportField`, `expor

[2021-10-19 14:55] nedenwalker commented on #35
Added commentary: we have moved away from trying to do the above for our use case, so we are not blocked on this. But the bug remains, so leaving this issue.

[2021-10-21 18:07] cppforlife commented on #36
that seems like a good feature to have. though we may run into a validation problem for destinatino secret since some types require to have X keys present. (may be keep them empty?)

[2021-10-22 00:33] cjnosal commented on #36
Yeah, for now we're using an opaque secret to only store the ca.crt, which is unfortunate.
`kubectl create secret tls` validates the key and cert are valid PEM files (with no CA arg), but `kubectl apply` will allow empty strings for tls.key/tls.crt.

Absent TLS-aware logic in the controller, a fully generic config might need to have include/exclude/truncate fields in the export?

Though I suppose

[2021-10-29 13:11] cppforlife commented on #23
moved to ghcr.io in v0.6.0

[2021-10-29 13:11] #23 closed, assigned to nobody

[2021-11-05 17:03] cppforlife opened #38 "support excluding namespace from being matched by wildcards"
**Describe the problem/challenge you have**

currently users of SecretExport may specify `toNamespace: "*"`. there might be namespaces in the cluster that cluster administrators would want to section off from receiving any secrets unless SecretExport explicitly specifies namespace selection.

**Describe the solution you'd like**
one idea in how to mark such namespaces is via annotation (on a names

[2021-11-08 20:00] aaronshurley opened #39 "Enable trivy scan as part of nightly build"
As described in vmware-tanzu/carvel-kapp-controller#368 and vmware-tanzu/carvel-kapp#315, it might be helpful for us to consider adding a security scan as part of a nightly build process. This would help us monitor and triage security alerts better for secretgen-controller. In particular, conducting a scan of the secretgen-controller image could be helpful.

**Note**: if setting up trivy is trivia

[2021-11-08 20:06] aaronshurley opened #40 "Consider a slimmer base image (e.g. distroless)"
**Describe the problem/challenge you have**
We'd like to ship secretgen-controller with the minimum necessary bits. We're currently using [photon as our base image](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/Dockerfile#L1). Is there a better (i.e. slimmer) option?

**Describe the solution you'd like**
Investigate alternative options (such as [distroless](https://githu

[2021-11-08 21:35] danielhelfand commented on #38
Making some notes here:
* We need to update the [RBAC](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/10089556361f662133c8e8bf0be9596f8791ef0a/config/rbac.yml#L14) to allow getting namespaces
* We should also add some [docs](https://github.com/vmware-tanzu/carvel-secretgen-controller/tree/develop/docs) that mention this annotation / how to use it

[2021-11-16 21:33] aaronshurley commented on #38
This has been delivered as a part of [v0.7.0](https://github.com/vmware-tanzu/carvel-secretgen-controller/releases/tag/v0.7.0). But, we recommended using [v0.7.1](https://github.com/vmware-tanzu/carvel-secretgen-controller/releases/tag/v0.7.1).

[2021-11-16 21:33] #38 closed, assigned to joe-kimmel-vmw

[2021-11-16 22:35] jorgemoralespou commented on #38
Seems as this feature got implemented and merged already. I'm not still convinced by this solution, as it means that the author of a package (let's say my training-package) would need to add this annotation to my namespace definition just to prevent from secretgen controller to inject me a secret even if I, as package author don't know whether my package is going to be deployed in a cluster where

[2021-11-19 18:47] joe-kimmel-vmw commented on #40
in discussion w/ Mamta Upadhyay (vmware OSS-AIDE) it sounds like internal builds might not support distroless in the immediate future.

[2021-11-22 02:55] ron1 opened #44 "Support ECDSA P-256 certificates"
**Describe the problem/challenge you have**

I need to bootstrap Linkerd with an ECDSA P-256 certificate.

**Describe the solution you'd like**

I would like to use the secretgen controller to create a  ECDSA P-256 certificate for use by graduated CNCF project Linkerd. Linkerd does not support the RSA certs created by the secretgen controller.

**Anything else you would like to add:**

[2021-11-22 20:11] cppforlife commented on #44
@ron1 that would be good. do you happen to know some recommended ways to generate that type of certificate in go?

[2021-11-22 20:13] cppforlife commented on #44
ah i see some prior art in here: https://go.dev/src/crypto/tls/generate_cert.go

[2021-11-23 03:28] ron1 commented on #44
You can also take a look at this linkerd-cli function that generates a ecdsa key: https://github.com/linkerd/linkerd2/blob/b9aa32f9b20057c7166347825428e53525962b9c/pkg/tls/ca.go#L145

[2021-11-29 16:42] aaronshurley commented on #40
After some discussion, we're deciding to hold off on investigating further into this issue until we learn more about other build processes that we may be able to leverage. If anyone from the community is interested in this work, please let us know.

[2021-12-20 19:16] #39 closed, assigned to joe-kimmel-vmw

[2021-12-22 20:43] joe-kimmel-vmw commented on #7
@cppforlife any thoughts on tagging this as "accepted" meaning we would merge it if somebody does it?

[2021-12-22 20:55] joe-kimmel-vmw commented on #32
we did this at some point and just failed to tag it

[2021-12-22 20:55] #32 closed, assigned to nobody

[2022-01-18 17:00] joe-kimmel-vmw opened #47 "instruct secret gen controller to leave out certain annotations and labels while copying the secrets"
**Describe the problem/challenge you have**
Shreyas Sreenivas  21 hours ago
Hi,
Needed some inputs regarding the Secret-Gen-Controller SecretImport implementation and possible changes.
Secret Import duplicates the secret into a new namespace. This duplicated secret duplicates all the Annotations and Labels from the source secret (DeepCopy of the secret). This is causing an issue in the TMC managed

[2022-01-19 18:53] joe-kimmel-vmw commented on #47
Implementation options:

1. sgc always adds its own annotation to copied secrets (like a watermark)
2. sgc.secretImport and gets an "exclusion list" for annotations and it filters the annotations on the new secret against that exclusion list
3. sgc.secretImport and gets a "annotations list" of annotations that the user wants added to the new secret (like a custom watermark - a monogram!)
4. sgc se

[2022-01-19 22:20] joe-kimmel-vmw commented on #47
want to note per this test,  and contrary to the earlier writeup,  that actually placeholder secrets don't have annotations copied,  so it's actually only for secret imports.
I edited one of our existing tests to prove this:
https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/48

[2022-01-20 19:43] GrahamDumpleton commented on #47
My experience has been that copying across existing annotations/labels from a secret was always a bad idea. It would muck up things like kapp or other tools that used annotations/labels to track ownership for a deployment etc. In secret copiers I have written have thus never done that, although did allow in the custom resource rule for setting up copying of a secret to allow users to explicitly pr

[2022-01-25 22:45] aaronshurley commented on #14
Closing this issue out. We decided to hold off on any website homepage changes for the moment as we're considering making some bigger website refactors.

[2022-01-25 22:45] #14 closed, assigned to aaronshurley

[2022-02-07 09:04] mamachanko opened #50 "`Password` Custom secret projection fails"
**What steps did you take:**

I went through the [example for `Password` custom secret projection](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/docs/secret-template.md#example). In particular:

**What happened:**

However, reconciliation failed:

[code]

**What did you expect:**

I expected to see creation of a `Secret` like:

[code]

**Anything else you would like to a

[2022-02-07 09:20] mamachanko commented on #50
Found the issue. `type: Opaque` is missing from the example YAML. Opened #51.

🙇🏻

[2022-02-08 17:46] #50 closed, assigned to nobody

[2022-02-08 19:22] #47 closed, assigned to benmoss

[2022-03-10 17:10] cppforlife opened #54 "introduce SecretTemplate to allow to "shape" secrets"
**Describe the problem/challenge you have**
Use cases:
- i want to merge multiple secrets into one
- i want to rename keys within secrets
- i want to hide pieces of the secret so that it can get exported (only exporting ca.crt vs private key)

**Describe the solution you'd like**
introduce SecretTemplate CR that is able to read one or more secrets and produce another secret.

for example:
[code]

[2022-03-11 19:51] cppforlife commented on #36
related: https://github.com/vmware-tanzu/carvel-secretgen-controller/issues/54

[2022-03-23 11:20] kvmw opened #55 "kubectl apply -f <secretgen-url> fails if the namespace is not created before hand."
**What steps did you take:**
Just trying to install secretgetn-controller, using kubectl:

**What happened:**
the command finished with an error :

Eventually, the namespace  is created but without any resources ( no deployment, pods and ..)
[code]

**What did you expect:**
create the namespace if it does not exist, before trying to install the resources there.

---
Vote on this request

This is a

[2022-03-30 14:05] rguske commented on #55
I just wanted to open the same issue 👍🏻

[2022-03-31 19:20] jorgemoralespou opened #57 "Create arm64 image for secretgen-controller"
**Describe the problem/challenge you have**
Currently, secretgen-controller cannot run on an ARM64 host, as there is no image[0].

Could we switch to doing multi-arch builds and produce arm64 alongside amd64?

Related issue for kapp-controller: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/573

This is needed for Tanzu Community Edition

[2022-04-01 12:24] cmoulliard opened #58 "Better document how the secret could be used by a pod, deployment using imagePullSecrets"
## Question

Is it possible to better document how we can, post `Secret`, `SecretExport` and `Secret` Placeholder created consume the secret using the property `imagePullSecrets` within a Pod or Deployment ?

Example of resources to be created
[code]

Next, we must update the service account to patch it to set `"imagePullSecrets": [{"name":"my-reg-creds"}` but apparently this is not enough as no s

[2022-04-12 15:35] cppforlife commented on #55
filed: https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/62

[2022-04-13 17:07] joe-kimmel-vmw commented on #57
Thanks @jorgemoralespou - is there a timetable for this ask?

[2022-04-13 17:09] joe-kimmel-vmw commented on #55
fix will go out in the next release - thanks @kvmw and @rguske for reporting!

[2022-04-13 17:09] #55 closed, assigned to nobody

[2022-04-13 18:36] jorgemoralespou commented on #57
This is related to a bigger epic in tanzu community edition. Currently engineering have built their own image, so the sooner, the better, as with kapp-controller.

[2022-05-03 21:30] Samze commented on #54
We're interested in helping with this feature and putting together a PR.

However along with the use cases above we also have the following additional usecases:

* I want to create a secret with data from arbitrary k8s resources, e.g. load ip information from a Service.
* I want to load arbitrary k8s resources whose name is dynamic e.g. Load a RabbitmqCluster resource using the name defined in a R

[2022-05-04 01:33] cppforlife commented on #54
i would recommend going with more "familiar" syntax of `$()`. i believe tekton adopted it because k8s core uses this syntax within pod spec (inside env vars and args i believe).

for simplicitly sake i would favor name that matches name of the SecretTemplate. what are use cases where generated secret needs to have a different name from the template cr?

my gut feeling says no since it would be rec

[2022-05-04 08:20] st3v commented on #54
@Samze - Knowing the more specific use case you/we have in mind for `SecretTemplate` in the context of [Service Bindings](servicebinding.io)...

1. Would it make sense to allow the creator of the `SecretTemplate` resource to choose wether the template should be rendered as a mutable or series of immutable secrets? I was under the impression that we were favoring immutable secrets for our concrete

[2022-05-04 21:56] Samze commented on #54
Thanks for the input @cppforlife / @st3v .

Yeah makes sense. Will update. `()` are valid characters in jsonpath for expressions and https://github.com/vmware-tanzu/cartographer/ mentioned that they chose `$( )$` to have a way to distinguish the closing bracket. I think we can still support `$(.items[?(@.metadata.name == 'thing')])` but will have to be careful with the implementation. Seems like T

[2022-05-04 22:04] Samze commented on #54
It seems like there are some outstanding details to be figured out but the agreement on the general approach so unless there are any strong objections we will start work on a PR.

[2022-05-05 08:12] gmrodgers commented on #54
Thanks for the writeup @Samze!

I think we should consider only supporting a subset of the jsonpath syntax.  That subset may not include the () option and therefore the need for a closing )$ is mitigated.  Service Bindings went down this path, see [Fixed JSONPath](https://github.com/servicebinding/spec#fixed-jsonpath).

For me, I think the Secret immutability is a forcing function for us changing

[2022-05-05 10:59] shwethaks1 opened #63 "Secretgen-controller deployment failed: namespace not found"
**What steps did you take:**
[code]

**Anything else you would like to add:**
Deployment worked in secretgen-controller `v0.7.1`

**Environment:**

- Windows
- secretgen-controller version: `v0.8.0`
- Kubernetes version: `v1.22.1`

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this com

[2022-05-11 16:42] joe-kimmel-vmw commented on #63
Thanks @shwethaks1 for this bug - we will try to post a fix. in the meanwhile you should be able to deploy using `kapp`

[2022-05-11 16:43] benmoss commented on #63
I think the fix will be to prefix the namespace file with `0-` so it gets ordered earlier in the manifest: https://github.com/vmware-tanzu/carvel-kapp-controller/tree/develop/config

[2022-05-11 17:03] benmoss commented on #58
Hmm, this works on my machine:
[code]

[2022-05-11 17:03] joe-kimmel-vmw commented on #58
@cmoulliard can you confirm the version of secretgen-controller you were using, and that the deployment was healthy?

[2022-05-27 14:22] #54 closed, assigned to nobody

[2022-05-27 16:30] Samze opened #68 "SecretTemplate should rely on Watch when a Service Account is not specified"
**Describe the problem/challenge you have**

#66 Introduced the SecretTemplate API. This allows you to define arbitrary input resources that are used to generate a new Kubernetes Secret based on templating.

For a first pass, to handle updates to these input resources we decided to simply periodically re-sync all input resources. However this isn't very performant or scalable.

**Describe the solu

[2022-05-31 21:35] Samze opened #70 "SecretTemplate supports ytt templating"
**Describe the problem/challenge you have**

https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/66 Introduced the SecretTemplate API. This allows you to define arbitrary input resources that are used to generate a new Kubernetes Secret based on templating.

For a first pass, we just supported a simple jsonpath based template. However for more dynamic cases we should support a ytt tem

[2022-05-31 22:05] Samze opened #71 "Failing SecretTemplate with missing InputResources takes a long time to re-reconcile"
**What steps did you take:**

1. Create a SecretTemplate with non-secret InputResources that do not exist yet
2. Wait 5 minutes
3. Create the InputResources

**What happened:**
You must wait numerous minutes for reconcilation to occur and for SecretTemplate to show `Ready=true`.

**What did you expect:**
SecretTemplate to re-reconcile faster.

**Anything else you would like to add:**

As discussed

[2022-06-01 14:17] Samze opened #72 "SecretTemplate's type cannot be updated"
**Describe the problem/challenge you have**

https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/66 Introduced the SecretTemplate API. This allows you to define arbitrary input resources that are used to generate a new Kubernetes Secret based on templating.

One of the fields that is available for templating within the Secret is `type`. Given this field is immutable the question is wh

[2022-06-02 11:21] #68 closed, assigned to nobody

[2022-06-09 00:49] #71 closed, assigned to nobody

[2022-06-10 21:19] cppforlife opened #75 "simplify secretgen Dockerfile"
**Describe the solution you'd like**
- base image on scratch since secretgen does not communicate with external services and generally does not need OS
- remove unnecessary PATH env var

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this ad

[2022-06-10 21:30] cppforlife commented on #63
i believe it should be resolved in v0.8.1+

[2022-06-10 21:30] #63 closed, assigned to nobody

[2022-06-10 22:05] #75 closed, assigned to nobody

[2022-06-14 18:17] cppforlife commented on #40
switched to using scratch: https://github.com/vmware-tanzu/carvel-secretgen-controller/commit/e7ccd31525b51393f63412ecd6009984d5ebc99f

[2022-06-14 18:17] #40 closed, assigned to nobody

[2022-06-28 15:32] gmrodgers opened #79 "Add github documentation for the new SecretTemplate API."
Hey! As part of https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/66 the SecretTemplate API was introduced but we held off then on adding documentation.  This was partially due to the possible confusion of the already existing SecretTemplate (part of password) that is already under [docs/](https://github.com/vmware-tanzu/carvel-secretgen-controller/tree/develop/docs).  As folks are

[2022-06-28 15:34] gmrodgers commented on #79
@cppforlife I dont mind having a go at this and PRing in something to work on if that works for you? Or did yous already have something in mind?

[2022-06-28 16:08] cppforlife commented on #79
@gmrodgers please go ahead, much needed addition.

[2022-06-28 16:10] vrabbi commented on #24
any plans on implementing this? this would be extremely useful for us in a few different use cases

[2022-06-28 20:59] #79 closed, assigned to nobody

[2022-07-01 17:27] cppforlife commented on #24
@vrabbi can you elaborate on what your use cases are for this feature?

[2022-07-06 13:08] mamachanko opened #84 "controller exits on `Certificate` with generated name"
**What steps did you take:**
Apply:
[code]

**What happened:**
The secretgen-controller deployment dies:
[code]

**What did you expect:**
[A description of what was expected]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- secretgen-controller version (execute `kubectl get deployment -n secretgen-controller secretgen-co

[2022-07-07 16:11] #57 closed, assigned to nobody

[2022-07-08 16:09] neil-hickey opened #88 "Add testing for arm64"
**Describe the problem/challenge you have**
Similar to kapp-controller, we should add some kind of testing that verifies the arm64 version of SGC runs properly.

https://github.com/vmware-tanzu/carvel-kapp-controller/issues/736

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX.]

**Anything else you wo

[2022-07-09 15:34] petewall opened #90 "Controller crash with SecretTemplate that references other generated passwords"
**What steps did you take:**
I'm trying to create a secret that references other generated secrets. The first secrets are created quickly, but the controller pod crashes when trying to resolve the fourth.

**What happened:**
The controller pod crashed

**What did you expect:**
The fourth secret to resolve, using data generated from the previous three

**Anything else you would like to add:**
Here

[2022-07-09 15:35] petewall commented on #90
(I'll be changing `local-users`, so no worries about leaking the default `test:test`)

[2022-07-09 15:53] petewall commented on #90
OK, figured out the crash. I mis-indented the SecretTemplate definition so `template` was parallel to `spec` and not inside it. Indenting that prevented the crash. Still probably shouldn't crash, so I'm going to leave this issue open.

Another maybe issue (let me know if you'd like me to open a new one), the key I needed to use to index the SSH and RSA secrets were not the same as is in the docs:

[2022-07-12 18:21] joe-kimmel-vmw commented on #90
Thanks @petewall !   I agree it sounds like we should update our docs,  and likely there's a better path than crashing to handle the error case you're describing - appreciate your feedback!

[2022-07-18 09:54] hoegaarden opened #91 "controller does not reconcile `Passwords` and `Secrets`"
**What steps did you take:**

I created a `Password` with some labels. Then I wanted to add another label and was hoping that this change gets pushed down to the `Secret`. Because this did not happen, I deleted the `Secret` in the hopes that the `secretgen-controller` would reconcile and recreate the `Secret`, now with the updated set of labels from the `Password`:

Steps taken:

- install the sec

[2022-07-20 16:39] joe-kimmel-vmw commented on #70
@Samze This does raise some new scope for Secretgen-controller, because currently it does not depend on any external binaries such as `ytt`.  If you want to cross-compare with kapp-controller for the complexity this introduces, see e.g. :
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/cmd/controller/sidecarexec.go
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/dev

[2022-07-20 16:58] joe-kimmel-vmw commented on #84
Thanks @mamachanko for filing this bug!  We were able to reproduce.

 notes for fixing: it looks like https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/pkg/generator/generate_inputs.go#L18
is getting a nil map and then crashing - one fix would be to fail more gracefully on nil input but whoever picks up the issue should probably look into root cause.

[2022-07-20 17:10] joe-kimmel-vmw commented on #91
thanks @hoegaarden  -- per the discussion in slack it sounds like this work is pre-approved but not yet scheduled:

[2022-07-22 08:23] vicmarbev commented on #84
Hi! I've created a pull request to fix this. If I'm not mistaken, the problem resides in the fact that if the certificate yaml does not contain annotations, the map object that [GenerateInputs.Add](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/bd11288766128351219700fcc2fa7cc3dd6ebe4f/pkg/generator/generate_inputs.go#L18-L24) receives is empty. Does this look good to you?

[2022-08-01 20:37] #84 closed, assigned to nobody

[2022-08-03 20:06] Samze commented on #70
Apologies for the late response!

@joe-kimmel-vmw if there are concerns around including an external binary, can we not just consume `ytt` as a go-module as described [here](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/examples/integrating-with-ytt/apis.md#application-programming-interfaces-of-ytt)?  Or are safety concerns you have with this approach?

I'm not sure I fully understand th

[2022-08-03 20:24] joe-kimmel-vmw commented on #70
sorry ,  yup - you're right.  just consume it as a go module.

[2022-08-06 02:02] baijum opened #95 "Support for the Provisioned Service defined in the Service Binding Specification for Kubernetes"
**Describe the problem/challenge you have**

I want to use the `SecretTemplate` API with implementations of [the Service Binding Specification for Kubernetes](https://github.com/servicebinding/runtime).

**Describe the solution you'd like**

Make the `SecretTemplate` API a [Provisioned Service](https://servicebinding.io/spec/core/1.0.0/#provisioned-service) as defined in the Service Binding Specif

[2022-08-08 16:09] joe-kimmel-vmw commented on #95
Thanks @baijum for contributing. I'm not familiar with the docs you linked but from a quick read it seems like you're proposing that we conform to this standard or API.  Can you tell us more about your use-case, what your goals, and how they would be made simpler or enabled by SecretTemplate adopting these standards?

[2022-08-08 18:47] Samze commented on #95
For reference we had a bit of discussion about this in the original issue see https://github.com/vmware-tanzu/carvel-secretgen-controller/issues/54#issuecomment-1117046143

In the end we decided to not adopt it by default initially for two reasons:
1. Not all uses of SecretTemplate generate a secret that is logically "bindable".
2. The k8s-binding specification allows you to refer to Secrets [dire

[2022-08-09 02:53] baijum commented on #95
Thanks, @Samze, for pointing out the original issue (#54) with a discussion about Provisioned Service.

@joe-kimmel-vmw As described in the [spec](https://github.com/servicebinding/spec#provisioned-service), Provisioned Service expects `.status.binding.name` attribute pointing to a Secret resource.  I have written a [blog post about it](https://muthukadan.net/kubernetes/binding/support-service-bin

[2022-08-09 15:19] Samze commented on #95
Thanks @baijum!

I agree this would be a good change to include. If theres broad agreement from other folks, would you be interested in contributing it?

Though just to be clear we already integrate using a direct secret reference today. This works since today the generated bindable Secret is **always** the same name as the SecretTemplate itself. So by knowing the SecretTemplate name, you can crea

[2022-08-09 15:42] baijum commented on #95
I am glad to hear that there is an interest in supporting this feature. However, I will wait for a consensus before proceeding with implementation.

[2022-08-10 21:23] Samze commented on #70
Looking at this again, I think it maybe a bad idea to just inline the template on the `.spec.ytt` key or if we should allow more extension in the future.

Originally this:
[code]

Should become this:
[code]

For example, perhaps we need to provide other metadata like ytt options, for example we could introduce `.spec.ytt.strict` or maybe loading template from a file via `.spec.ytt.templateRef.secr

[2022-08-15 18:17] Samze commented on #95
@cppforlife / @joe-kimmel-vmw / @neil-hickey do you have thoughts on this?

[2022-08-16 15:50] joe-kimmel-vmw commented on #95
Thanks @Samze and @baijum  IIRC we had a very short chat about it last week and thought it sounded fine, esp. if someone wanted to contribute it.  I'll let @cppforlife or @neil-hickey correct if my recollection is way off.

[2022-08-18 16:44] cppforlife commented on #95
it's good by me (sorry, i thought i already posted a comment)

[2022-08-18 17:08] cppforlife commented on #70
@Samze take a look at ytt interface for rebase rules within kapp -- https://carvel.dev/kapp/docs/v0.51.0/config/#rebaserules. one thing that i think we need to be mindful about is that execution environment (e.g. format of well known data values, etc.) for configuration might change over time and that's why in kapp for example it's marked as V1. goal would be to avoid breaking any configurations t

[2022-08-19 02:29] joe-kimmel-vmw opened #101 "Does Trivy Dream?"
**What steps did you take:**
I didn't do it, actually. I was nowhere near there when it happened. It didn't even happen in a place! Several people saw me walking around outside near my residence and they're all willing to testify.  I'm innocent, I swear!

**What happened:**
https://github.com/vmware-tanzu/carvel-secretgen-controller/runs/7909711621?check_suite_focus=true

**What did you expect:**

[2022-08-19 04:22] baijum commented on #95
Does introducing an optional boolean field with a default value as `false` requires an API version upgrade?

[2022-08-19 07:35] ramonskie opened #102 "environment variables in curly brackets are interpreted as secrets"
environment variable within curly brackets are interpreted as a secret

we use a environment variable `${CREDHUB_POSTGRES_HOST}` in our secret template +stringdata
see how we use it here.
https://github.com/cloudfoundry/bosh-community-stemcell-ci-infra/blob/main/config/credhub/secrets.yml#L77

a small example:
[code]

secretgen controller is spitting out the following error
[code]

see discussion

[2022-08-19 15:15] joaopapereira commented on #101
Take a look at this commit https://github.com/vmware-tanzu/carvel-release-scripts/commit/88586bd17419ef65b0aecbcf354f3cfd13b60fac it should provide the solution for this issue

[2022-08-19 15:33] cppforlife commented on #95
nope, we are happy to accept it as part of the current api version.

[2022-08-22 22:55] #101 closed, assigned to nobody

[2022-09-26 23:32] davewalter commented on #70
In our ytt templates, we are currently creating a dockerconfigjson secret based on user-provided username/password data values file like this:

[code]

I am working to change this to allow the user to create their own generic secret containing the username and password, and then simply include the secret name and namespace in the values file. This is what I want the user-created secret to look lik

[2022-11-02 14:25] bmoussaud opened #110 "Add extra requirements on the Password CRD."
**Describe the problem/challenge you have**
The `secretgen.k14s.io/v1alpha1/Password` allows to specify the length of the generated password only. Unfortunately, external resources may ask to have other requirements such as: `Your password must contain characters from three of the following categories – English uppercase letters, English lowercase letters, numbers (0-9), and non-alphanumeric chara

[2022-11-08 18:20] neil-hickey opened #115 "[v0.9.3] Release"
## Releasing a new minor / major:
- [x] OSS Release
    - [x] [Releasing via workflow](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/docs/dev.md#release).
    - [x] Close any GitHub issues that have been delivered.
    - [x] Add a link to the release on the issue.
- [x] Update Documentation by [generating a new docs version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#

[2022-11-14 21:00] gmrodgers commented on #7
Hey folks, just to follow up, are there concrete things blocking something like this being done? Or is it just waiting for someone to swoop in and do this?

[2022-11-14 22:50] neil-hickey commented on #7
I can't see anything being a blocker for this. WDTY @cppforlife ?

We just don't have the bandwidth to pick it up right now.

[2022-11-16 19:13] #115 closed, assigned to nobody

[2022-11-18 15:29] felipenferri opened #149 "Improve SecretTemplate to create secrets from different namespaces"
**Describe the problem/challenge you have**
We can create secrets from different Namespaces with SecretTemplate

**Describe the solution you'd like**
Enable option in metadata to add namespace
---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see t

[2022-11-21 08:21] sathyanarays commented on #149
Please provide some more details on current behavior and the expected behavior!

[2022-11-21 08:33] mamachanko commented on #149
@felipenferri the [Secret(Export|Import)](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/docs/secret-export.md) CRD's responsibility is to facilitate and control cross-namespace usage of `Secret` resources. You can combine these with `SecretTemplate` to template a `Secret` from other `Secrets` you imported into the current `Namespace`. To work off of `SecretTemplate`'s [e

[2022-11-28 18:43] scothis opened #157 "`vendir` is unable to consume `latest` github release artifacts"
**What steps did you take:**
[code]

**What happened:**
[code]

**What did you expect:**
to resolve the `package.yml` release artifact

**Anything else you would like to add:**

The digests for the `latest` release `0.12.0` look like:

[code]

The digests for 0.11.0 look like:

[code]

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our bac

[2022-11-29 00:43] cppforlife commented on #7
yup. im also not sure how complicated this would be, so somebody have to do some thinking (in a PR form or comment).

[2022-11-29 18:47] #157 closed, assigned to nobody